html {
    display: table;
    margin: auto;
}

body {
    background-color: #141414;
    color: white;
    width: 1000px;
    display: table-cell;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}

table#header {
    border-spacing: 10px;
}

table#header td:nth-child(2) {
    width: 100%;
}

#logotext {
    font-size: 28px;
    border-bottom: 1px solid #a177ce;
    height: 35px;
    position: relative;
    top: -13px;
}

#logotext1 {
    color: #A177CE;
}

#logotext2 {
    color: #55C656;
}