<table class='form-table'>
    <tr>
        <td>Language</td>
        <td><input type='text'></td>
    </tr>
    <tr>
        <td>Game</td>
        <td><input type='text'></td>
    </tr>
    <tr>
        <td>Current Viewers</td>
        <td><input onkeypress='validateNumberInput()' type='text' value='0' maxlength='6' size='6'> to <input type='text' value='1000' maxlength='6' size='6'></td>
    </tr>
</table>