<table class='form-table'>
    <tr>
        <td>Language</td>
        <td><input type='text' placeholder='English' class='twitch-language-input'></td>
    </tr>
    <tr>
        <td>Game</td>
        <td><input type='text' placeholder='Dota 2'></td>
    </tr>
    <tr>
        <td>Current Viewers</td>
        <td><input onkeypress='validateNumberInput()' type='text' placeholder='0' maxlength='6' size='6'> to <input type='text' placeholder='1000' maxlength='6' size='6'></td>
    </tr>
</table>